.form__titulo{
  display: block;
  font-size: 30px;
  line-height: 1.2;
  padding-bottom: 43px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.form__input{
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-sizing: border-box;
  height: 80px;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.form__input__input{
  background: 0 0;
  border: none;
  display: block;
  padding: 0 26px;
  outline: none;
  width: 100%;
}
.form__secao{
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-left:2px;
  padding-right:2px;
}
.form__btn{
  display: flex;
  justify-content: center;
  width: 100%;
}
.form__login{
  align-items: center;
  background-color: #213242;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  letter-spacing: 1px;
  padding: 0 20px;
  text-transform: uppercase;
  width: 100%;
}
.form__cadastro{
  padding-top: 46px;
  padding-bottom: 20px;
  text-align: center;
}
.form__redes{
  align-items: center;
  display: flex;
  justify-content: center;
}
.cadastro__redes{
  height: 36px;
  width: 36px;
}
.cadastro__icones{
  margin-right: 10px;
}
.form{
  padding: 2%;
  font-family: 'Montserrat', sans-serif;
}
.form__esqueci{
  color: black;
  text-decoration: none;
}

@media screen and (min-width:760px){
  
  .form{
      margin: auto;
      width: 600px;
  }
}