body{
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
.planos-titulo{
  text-align: center;
  margin-top: 32px;
  font-size: 2rem;
  font-weight: 500;
  color: #444;
}
.planos-c{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 7%;
  padding: 0 2rem;
}
.plano{
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 250px;

  max-width: 30%;
  text-align: center;
  color: #444;
  position: relative;
}
.plano__titulo{
  font-size: 2rem;
  margin-bottom: 0.3rem;
  text-transform: capitalize;
}
.plano__subtitulo{
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.plano__etiqueta{
  position: absolute;
  right: 0;
  top: 8px;
  background-color: #0DAB76;
  border-radius: 4px 0 0 4px;
  padding: 4px;
  text-transform: uppercase;
  color: #fff;
  font-size: .8rem;
}
.plano__price{
  color: #000;
  font-size: 2.5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.plano ul{
  text-align: left;
  margin-bottom: 16px;
  flex-grow: 1;
}
.plano ul li{
  line-height: 2;
}
.plano ul li i{
  color: #0DAB76;
  margin-right: 12px;
}
.plano button{
  border: none;
  background: #57AFF7;
  border-radius: 10px;
  width: 70%;
  color: #fff;
  padding: 10px 16px;
  font-weight: bold;
  margin: 16px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.plano button:hover{
  box-shadow: 1px -1px 1px #ccc;
  transform: scale(1.05)
}
.plano-selected{
  border: 2px solid #0DAB76;
}

@media screen and (max-width:767px){
  .planos-c{
    flex-direction: column;
    align-items: center;
    padding: unset;
  }
  .plano{
    width: 400px;
    max-width: 80%;
    margin-bottom: 32px;
  }
}