.descricao__secao{
  background-color: #213242;
}

.descricao__secao{
  align-items: center;
  border-bottom: 1px solid #9baec2;
  display: flex;
  flex-direction: column;
}
.descricao__item{
  border-bottom: 1px solid #9baec2;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 70%;
  
}

@media screen and (min-width:720px){

  .descricao__secao{
      flex-direction: row;
  }
  .descricao__item{
      border-bottom: none;
      width: 33.33%;
  }
}