.video{
  align-items: center;
  background-color: #213242;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.video__descricao{
  font-weight: bolder;
  text-transform: uppercase;
}
.video__video{
  flex-shrink: 2;
  flex-grow: 1;
  max-width: 100%;
}
.video__texto{
  color: #fff;
  display: flex;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
  flex-direction: column;
  line-height: 2;
  padding: 20px;
  text-align: center;

}
.video__lista{
  flex-grow: 1;
}
@media screen and (min-width:760px) {
  
  .video{
      flex-direction: row;
      padding: 5% 10% 5% 10%;
  }
  .video__texto{
      height: 315px;
      margin-left: 1.5rem;
  }
}